* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #abe4e1;
  font-family: Roboto, Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: #35b1c7;
}

form {
  margin: 20px 0;
  background-color: white;
  padding: 70px 50px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 30px;
}

form .input-block label {
  font-size: 14px;
  color: rgb(61, 134, 139);
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #6ad5e7;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #6ad5e7;
}

form .btn-login {
  display: block;
  min-width: 180px;
  border: none;
  background-color: #35b1c7;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 10px;
}

form {
  animation-name: fade 200ms;
  overflow: hidden;
}

form .input-block:nth-child(1) {
  animation: move 400ms;
}

form .input-block:nth-child(2) {
  animation: move 400ms;
  animation-delay: 150ms;
  animation-fill-mode: backwards;
}

form .btn-login {
  animation: move 400ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* quando clicar no botão submit do form*/

.form-hide {
  animation: down 400ms forwards;
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

/*form no noo*/
form.validate-error {
  animation: nono 200ms linear, fade paused;
  animation-iteration-count: 2;
}

@keyframes nono {
  0%,
  100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%);
  }
  70% {
    transform: translateX(15%);
  }
}

/*squares*/

body {
  overflow: hidden;
}

.squares li {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  display: block;
  position: absolute;
  bottom: -40px;
  animation: up 2s infinite alternate;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-800px) rotate(960deg);
  }
}

@keyframes down {
}
